/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0f172a; /* Warna gelap navy */
    color: #ffffff;
}

/* Navigasi */
nav {
    background-color: #1e293b;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #38bdf8;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #38bdf8;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(rgba(15, 23, 42, 0.8), rgba(15, 23, 42, 0.8)), 
                url('../media/banner.jpg') no-repeat center/cover;
}

/* Grid Game */
.game-list {
    padding: 40px 5%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Card Game */
.game-card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s, border 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.game-card:hover {
    transform: translateY(-10px);
    border: 1px solid #38bdf8;
}

.game-card img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.btn-buy {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}